@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html{
  background-color: #0c0c0c;
}
/* Barra de Rolagem */


/* Fundo que corre */
::-webkit-scrollbar-track {
  background-color: #0c0c0c;
}
/* Fundo que corre */

::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

/* Linha que desce */
::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 15px;
}
/* Linha que desce*/


/* Barra de Rolagem */